NEXT_PUBLIC_SUPABASE_URL=https://tuproyecto.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxxxxxxxxx
SUPABASE_SECRET_KEY=sb_secret_xxxxxxxxxxxxx

MAILGUN_DOMAIN=sandboxxxxxxxxxxxxxxx
MAILGUN_API_KEY=axxxxxxxxxxxxxxxxxxx